<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find book</title>
    <link rel="stylesheet" th:href="@{/css/book.css}" media="screen"/>
</head>
<body>
<div class="container-1">
    <header>
        <h3>Find book by title</h3>
    </header>
    <form th:method="POST" th:action="@{/books/search}" th:object="${book}">
        <label for="bookName" class="book-label">Enter book title:</label>
        <input type="text" id="bookName" th:field="*{name}" class="input"/>
        <input type="submit" value="Find" class="button"/>
    </form>
    <th:block th:if="${foundedBooks}">
        <th:block th:if="${foundedBooks.isEmpty()}">
            <p>Book not found</p>
        </th:block>
        <th:block th:each="book : ${foundedBooks}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
            <th:block th:if="${book.getPerson() != null}">
                <p th:text="${book.getPerson().getFullName()} + ' has the book now'" style="font-size: 24px;"></p>
            </th:block>
            <th:block th:if="${book.getPerson() == null}">
                <p th:text="The book is free"></p>
            </th:block>
        </th:block>
    </th:block>
</div>
</body>
</html>