<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
    <link rel="stylesheet" th:href="@{/css/person.css}" media="screen">
</head>
<body>
    <div class="container-1">
        <form th:method="PATCH" th:action="@{/people/{id}(id = ${person.getId()})}" th:object="${person}">
            <label for="fullName" class="person-label">Enter new fullName: </label>
            <input type="text" id="fullName" th:field="*{fullName}" class="input"/>
            <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="input_error">FullName error</div>
            <br>
            <label for="yearOfBirth" class="person-label">Enter new year of Birth: </label>
            <input type="text" id="yearOfBirth" th:field="*{yearOfBirth}" class="input"/>
            <div th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}" class="input_error">YearOfBirth error</div>
            <br>
            <input type="submit" value="Save" class="button"/>
        </form>
    </div>
</body>
</html>